body
{
  background-color: #E4FBFF;
}
hr
{
  border-style: none;
  border-top: dotted;
  background-color: inherit;

  border-color: #B5FF;
  border-width: 7px;
  width:5%;
}
h2
{
  color: #7868E6;
}
h1
{
  color: #7868E6;
}
p
{
  color: #7868E6;
}
ol
{
  color: #7868E6;
}
li
{
  color: #7868E6;
}
